.dokuwiki div.struct_status {
    border: 1px solid @ini_bordercolor;
    border-radius: 3px;
    white-space: nowrap;
    display: inline-block;
    padding: 0 0.2em;
    font-size: 90%;

    svg {
        width: 14px;
        height: 14px;
        vertical-align: middle;
        margin-right: 0.2em;
    }
}
